<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="BankdAutomationApp">


<listeners>
    <listener class-name="com.BankApplication.utilities.ExtentReportManager"/></listeners>

<test name="BankApplication">
		<parameter name="browser" value="chrome" />
		<classes>
		
		
		<class name="com.BankApplication.testCases.TC_LoginTest_001" />
			
		
			
			</classes>

	</test>

</suite>